<footer class="footer">
  <a class="footer-logo" href="/">
    <img src="https://placekitten.com/g/400/400">
  </a>
  <nav>
    <ul class="footer-nav nav-links">
      <%= erb :navigation %>
    </ul>
  </nav>
  <h3>Created by <span>Jason Rhoads</span></h3>
</footer>