<header class="header">
  <nav>
    <a href="/" class="header-logo">
      <img src="https://placekitten.com/g/400/400">
    </a>
    <ul class="header-nav">
      <%= erb :navigation %>
    </ul>
  </nav>
</header>