<head>
  <meta charset="utf-8">
  <title><%= @title %> | Jason Rhoads</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"
        rel="stylesheet">
</head>