<!DOCTYPE html>
<html lang="en">
  <%= erb :head %>
  <body>
    <%= erb :header %>
    <div class="content">
      <!-- page-specific content -->
      <%= yield %>
    </div>
    <%= erb :footer %>
  </body>
</html>