<h1>Log In</h1>

<form id="login" action="/log_in" method="post">
  <label>Email</label><br>
  <input name="email" type="email"><br>
  <label>password</label><br>
  <input name="password" type="password"><br>
  <button class="form-submit" type="submit">Log In</button>
</form>