<p>Enter a url for the recipe</p>
<form id="recipes_form" action="/get_recipe" method="post">
  <input name="recipe_url">
  <br>
  <button class="form-submit" type="submit">Get The Recipe</button>
</form>