<!-- R.3efactor to remove model code and move to own class-->
<div class="recipes">
  <h1>Recipe</h1>
  <%= Recipes.get_recipe(@recipe_url) %>

  <hr>
  <h3>Try another one!</h2>
  
  <%= erb :recipes_form %>
</div>

