/* GLOBAL STYLES */
html {
  box-shadow: 0 0 0 30px #000 inset;
  padding: 0 30px;
}
body{
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', helvetica, arial, sans;
  min-height: 100vh;
}

.content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-top: 10vh;
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', helvetica, sans;
  font-weight: 100;
}
h1 {
  font-size: 7vw;
  margin-top: 0;
}
h2 {
  font-size: 2em;
}
h4 {
  color: #999;
  font-weight: bold;
  text-transform: uppercase;
}
a {
  color: #6397b5;
}
p {
  line-height: 1.5;
  margin: 0.75em 0;
}

/* HEADER STYLES */
.header {
  background-color: #000;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.header-nav {
  float: right;
  padding: 2vh 60px 0 0;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav > li ~ li {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 1em;
}
.header-nav a,
.drop-trigger {
  color: #fff;
}
.nav-links a, 
.drop-trigger,
.show-mobile-menu {
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-links a:hover,
.nav-links a:active {
  color: #ed6e2f;
}
.header-nav > li:first-child a {
  color: #ed6e2f;
}
.header-nav > li:first-child a:hover {
  color: #fff;
}
.header-logo {
  background-color: #000;
  box-sizing: border-box;
  display: block;
  height: 10vh;
  left: -30px;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 10vh;
}
.header-logo img {
  height: 8vh;
  width: 8vh;
}
.header-logo:hover,
.header-logo:active{
  background-color: #ed6e2f;
}
/* MOBILE MENU */
.mobile-menu-check,
.show-mobile-menu {
  display: none;
}

/* FOOTER STYLES */
.footer {
  background-color: #000;
  padding: 10vh 0 15vh;
  text-align: center;
}
.footer img {
  width: 50px;
}

.footer h3 {
  color: #fff;
  padding: 1.5em 0;
  text-transform: uppercase;
}
.footer h3 span {
  color: #aaa;
}
.footer-nav li {
  display: inline-block;
  margin: 2em 1em 0;
}
.footer-nav a{
  color: #ccc;
}

/* COLUMN STYLES */
.col-three {
  display: flex;
  flex: 1;
}
.col {
  box-sizing: border-box;
  padding: 2em;
}
.col-three .col ~ .col {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.col-three .col-nav {
  flex: 0 1 15em;
}
.col-three .col-content {
  flex: 1;
}
.col-three .col-aside {
  flex: 0 1 20em;
}
.col-two{
  display: flex;
}
.col-two .col-aside {
  flex: 0 0 20em;
  order: 1;
}
col-two .col-content {
  flex: 1;
}


/* HERO STYLES */
.full-hero {
  background-color: #c7dbfc;
  background-size: cover;
  box-sizing: border-box;
  height: 90vh;
}
.full-hero:after {
  bottom: 2vh;
  border: 10px solid;
  border-color: #fff transparent transparent;
  color: #fff;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 0;
}
.hero-home {
  background-image: url("https://placekitten.com/g/400/400");
  background-position: center top;
}
.hero-content {
  color: #fff;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(0, -50%);
}
.hero-content h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 7vw;
  margin-bottom: 0.25em;
}
.hero-content .social-link {
  background-color: rgba(255, 255, 255, 0.8);
  color: #556c83;
}
.hero-content .social-link:hover {
  background-color: #000;
  color: #fff;
} 
.half-hero {
  background-position: center center;
  background-size: cover;
  height: 40vh;
}


/* HOME PAGE STYLES*/

/* RECIPE PAGE STYLES*/
.recipes {
  margin: auto;
  max-width: 70%;
}

.recipes p ~ p {
  padding: 0;
  margin: 0;
}

.recipes ol {
  list-style-type: decimal;
}

.recipes ul {
  list-style-type: disc;
}
/* ABOUT PAGE STYLES*/

/* MEDIA QUERIES */
@media (max-width: 800px) {
  html {
    box-shadow: none;
    padding: 0;
  }

  /* HEADER STYLES */
  .header-nav {
    padding: 2vh 1em 0 0;
  }
  .header-nav > li {
    margin-left: 0.25em;
  }
  .header-nav > li ~ li {
    padding-left: 0.25em;
  }
  .nav-links a {
    font-size: 3.25vw;
  }
  .header-logo {
    left: auto;
  }
  
  /* MOBILE MENU */
  .show-mobile-menu {
    display: block;
    float: right;
    margin-top: 1.5vh;
    padding: 1.5em;
    position: relative;
  }
  .header-nav {
    background-color: #444;
    box-sizing: border-box;
    left: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 10vh;
    transition: all 0.5s ease-in-out;
    width: 100vw;
    z-index: 9;
  }
  .header-nav li {
    display: block;
    margin-top: 1em;
  }
  .header-nav li ~ li {
    border: 0;
    padding: 0;
  }
  .header-nav li:last-child {
    margin-bottom: 1em;
  }
  .header-nav li:first-child a {
    color: #fff;
  }
  
  /* HIDE DROPDOWN IN THE NAV MENU */
  .header-nav .dropdown:hover .drop-menu,
  .header-nav .drop-trigger:after {
    display: none;
  }
  .header-nav .drop-trigger {
    padding-right: 0;
  }
  .mobile-menu-check:checked ~ .header-nav {
    height: 90vh;
  }
  .mobile-menu-check:checked ~ .show-mobile-menu:after {
    background-color: #000;
    color: #ed6e2f;
    content: "X";
    left: 0;
    position: absolute;
    top: 1.5em;
    text-align: center;
    width: 100%;
  }
  
  /* HOME STYLES */
  .home-callout {
    flex-direction: column;
  }
  .callout-copy {
    flex: 1;
  }
  .bio-box {
    float: none;
    font-size: 1.3rem;
    width: auto;
  }
}